<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title >疫情最新动态</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}">
    <!--先引入jQuery-->
    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/echarts.min.js"></script>
    <!-- 必须先引入china.js 这个文件 因为中国地图需要 -->
    <script type="text/javascript" src="js/china.js"></script>
    <script type="text/javascript" src="js/dark.js"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">
</head>
<body style="background-color:#65E7EC">

<div style="border: 0px solid #000000; width: 1000px;margin: 0 auto;">
    <br>
    <div class="page-header"><h2>全国疫情实时追踪</h2></div>
    <div id="time" ></div>
    <br>

    <div id="graph4" style="width: 980px;height:680px;"></div>
    <script th:inline="javascript">
        var dataStr = [[${mapData}]];
        var chart = echarts.init(document.getElementById("graph4"));

        var option = {
            title: {
                text: '疫情地图',
                subtext: '仅供参考',
                x: 'center'
            },

            // tooltip: {
            //     trigger: 'item'
            // },
            tooltip: {
                triggerOn: "click",
                formatter: function(e, t, n) {
                    return .5 == e.value ? e.name + "：有疑似病例" : e.seriesName + "<br />" + e.name + "：" + e.value
                }
            },
            visualMap: {
                min: 0,
                max: 1000,
                left: 26,
                bottom: 40,
                type: 'piecewise',
                dimension: 0,       // series.data 的第四个维度（即 value[3]）被映射
                seriesIndex: 0,     // 对第个系列进行映射。
                // splitNumber: 5,
                // color: ['#d94e5d','#eac736','#50a3ba'],
                showLabel: !0,
                text: ["高", "低"],
                pieces: [{
                    gt: 1000,
                    label: "> 1000 人",
                    color: "#7f1100"
                }, {
                    gte: 500,
                    lte: 1000,
                    label: "500 - 1000 人",
                    color: "#ff5999"
                },{
                    gte: 100,
                    lte: 500,
                    label: "100 - 500 人",
                    color: "#ff5414"
                }, {
                    gte: 30,
                    lt: 100,
                    label: "30 - 100 人",
                    color: "#ff8c71"
                }, {
                    gt: 5,
                    lt: 30,
                    label: "5 - 30",
                    color: "#ffd768"
                }, {
                    gt: 0,
                    lt: 5,
                    label: "0 - 5",
                    color: "#FCFF9B"
                },{
                    gt: 0,
                    lt: 0,
                    label: "0",
                    color: "#ffffff"
                }
                ],
                show: true
            },
            geo: {
                map: "china",
                roam: !1,
                scaleLimit: {
                    min: 1,
                    max: 2
                },
                zoom: 1.1,
                label: {
                    normal: {
                        show: !0,
                        fontSize: "10",
                        color: "rgba(0,0,0,0.7)"
                    }
                },
                itemStyle: {
                    normal: {
                        borderWidth: .5,
                        areaColor: "#2C1DE8",
                        borderColor: "#ffefd5"
                    },
                    emphasis: {
                        areaColor: "#fff",
                        borderColor: "#4b0082",
                        borderWidth: .5
                    }
                }
            },
            series: [{
                data: JSON.parse(dataStr),
                name: "现存确诊人数",
                type: "map",
                // coordinateSystem: "geo",
                geoIndex: 0,

            }]
            // series: [
            //     {
            //         data: JSON.parse(dataStr),
            //         name: '现存确诊',
            //         type: 'map',
            //         // mapType: 'china',
            //         roam: false,
            //         label: {
            //             // normal: {
            //             //     // formatter: '{b}',
            //             //     position: 'center',
            //             //     show: true,
            //             //     textStyle: {
            //             //         color: 'rgba(0,0,0,0.4)'
            //             //     }
            //             // },
            //             emphasis: {
            //                 show: true
            //             }
            //         },
            //
            //     }
            // ]
        };

        // var chart = echarts.init(document.getElementById("graph4"))
        chart.setOption(option)

    </script>


    <!-- 为 ECharts 准备一个具备大小（宽高）的 DOM -->
    <div id="graph2" style="width: 800px;height:500px;"></div>

    <!--在js中接收服务端返回数据-->
    <script th:inline="javascript">
        // 基于准备好的dom，初始化echarts实例
        var myChart = echarts.init(document.getElementById('graph2'));

        var nameStr = [[${nameList}]];
        var fromAbroadStr = [[${fromAbroadList}]];

        // 指定图表的配置项和数据
        var option = {
            title: {  // 标题组件
                text: '境外输入省市TOP10'
            },
            tooltip: {  // 提示框组件
                trigger: 'axis'
            },
            xAxis: {
                // 转化为json对象
                data: JSON.parse(nameStr)
            },
            yAxis: {
                type: 'value'
            },
            series: [
                {
                    name: '境外输入',
                    type: 'bar',
                    barWidth: '60%',
                    data: JSON.parse(fromAbroadStr)
                }
            ]
        };

        // 使用刚指定的配置项和数据显示图表。
        myChart.setOption(option);
    </script>

    <br>


    <div id="graph1" style="width: 800px;height:500px;"></div>

    <script th:inline="javascript">
        var myChart = echarts.init(document.getElementById('graph1'));

        var dateStr = [[${dateList}]];
        var nowConfirmStr = [[${nowConfirmList}]];

        // 指定图表的配置项和数据
        var option = {
            title: {  // 标题组件
                text: '全国现有确诊趋势'
            },
            tooltip: {  // 提示框组件
                trigger: 'axis'
            },
            legend: {  // 曲线含义说明
                data: ['现有确诊']
            },
            xAxis: {
                // 转化为json对象
                data: JSON.parse(dateStr)
                // data: dateStr
            },
            yAxis: {
                type: 'value'
            },
            series: [{
                name: '现有确诊',
                data: JSON.parse(nowConfirmStr),
                // data: nowConfirmStr,
                type: 'line'
            }]
        };

        // 使用刚指定的配置项和数据显示图表。
        myChart.setOption(option);
    </script>


    <div id="graph5" style="width: 800px;height:500px;"></div>

    <script th:inline="javascript">
        var myChart = echarts.init(document.getElementById('graph5'));

        var addDateStr = [[${addDateList}]];
        var addConfirmStr = [[${addConfirmList}]];
        var addSuspectStr = [[${addSuspectList}]];

        var option = {
            title: {  // 标题组件
                text: '全国疫情新增趋势'
            },
            tooltip: {  // 提示框组件
                trigger: 'axis'
            },
            legend: {  // 曲线含义说明
                data: ['新增确诊', '新增疑似']
            },
            xAxis: {
                // 转化为json对象
                data: JSON.parse(addDateStr)
            },
            yAxis: {
                type: 'value'
            },
            series: [{
                name: '新增确诊',
                data: JSON.parse(addConfirmStr),
                type: 'line'
            }, {
                name: '新增疑似',
                data: JSON.parse(addSuspectStr),
                type: 'line'
            }]
        };

        // 使用刚指定的配置项和数据显示图表。
        myChart.setOption(option);
    </script>


    <br>
    <div id="graph3" style="width: 800px;height:500px;"></div>

    <script th:inline="javascript">
        // 基于准备好的dom，初始化echarts实例
        var myChart = echarts.init(document.getElementById('graph3'));

        var str = [[${pieList}]];

        // 指定图表的配置项和数据
        var option = {
            title: {  // 标题组件
                text: '全国现有确诊构成'
            },
            tooltip: {  // 提示框组件
                trigger: 'axis'
            },
            series: [
                {
                    type: 'pie',
                    radius: '55%',
                    center: ['50%', '60%'],
                    data: JSON.parse(str)
                }
            ]
        };

        // 使用刚指定的配置项和数据显示图表。
        myChart.setOption(option);
    </script>

    <br>
    <table class="table table-hover">
        <thead>
        <tr>
            <th><p>地区</p></th>
            <th><p>现有确诊</p></th>
            <th><p>累计确诊</p></th>
            <th><p>治愈</p></th>
            <th><p>死亡</p></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="data:${dataList}">
            <td th:text="${data.area}">name</td>
            <td th:text="${data.nowConfirm}">nowConfirm</td>
            <td th:text="${data.confirm}">confirm</td>
            <td th:text="${data.heal}">heal</td>
            <td th:text="${data.dead}">dead</td>
        </tr>
        </tbody>
    </table>
</div>

<script src="js/controller.js"></script>

</body>
</html>